## モジュールのインポート

In [431]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

## データの読み込み

In [432]:
train=pd.read_csv('/Users/yugo_suzuki/mydevelopment/development/dsプログラミング/Train.csv')
test=pd.read_csv('/Users/yugo_suzuki/mydevelopment/development/dsプログラミング/Test.csv')

##  それぞれの欠損値の確認

In [433]:
train.isnull().sum()

ID                   0
Gender               0
Ever_Married       140
Age                  0
Graduated           78
Profession         124
Work_Experience    829
Spending_Score       0
Family_Size        335
Var_1               76
Segmentation         0
dtype: int64

In [434]:
test.isnull().sum()

ID                   0
Gender               0
Ever_Married        50
Age                  0
Graduated           24
Profession          38
Work_Experience    269
Spending_Score       0
Family_Size        113
Var_1               32
Segmentation         0
dtype: int64

## 欠損値の削除

In [435]:
train.dropna(inplace=True)
test.dropna(inplace=True)

In [436]:
train.isnull().sum()

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
Var_1              0
Segmentation       0
dtype: int64

In [437]:
test.isnull().sum()

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
Var_1              0
Segmentation       0
dtype: int64

## IDの削除

In [438]:
train = train.drop(['ID'], axis=1)
test = test.drop(['ID'], axis=1)

## データタイプの確認

In [439]:
train.dtypes
print(train.dtypes)

Gender              object
Ever_Married        object
Age                  int64
Graduated           object
Profession          object
Work_Experience    float64
Spending_Score      object
Family_Size        float64
Var_1               object
Segmentation        object
dtype: object

In [440]:
test.dtypes
print(test.dtypes)

Gender              object
Ever_Married        object
Age                  int64
Graduated           object
Profession          object
Work_Experience    float64
Spending_Score      object
Family_Size        float64
Var_1               object
Segmentation        object
dtype: object

## カラムの確認と置き換え

In [441]:
print(train["Gender"].unique())
print(train["Ever_Married"].unique())
print(train["Graduated"].unique())
print(train["Profession"].unique())
print(train["Spending_Score"].unique())
print(train["Var_1"].unique())
print(train["Segmentation"].unique())

['Male' 'Female']
['No' 'Yes']
['No' 'Yes']
['Healthcare' 'Engineer' 'Lawyer' 'Artist' 'Doctor' 'Homemaker'
 'Entertainment' 'Marketing' 'Executive']
['Low' 'High' 'Average']
['Cat_4' 'Cat_6' 'Cat_7' 'Cat_3' 'Cat_1' 'Cat_2' 'Cat_5']
['D' 'B' 'C' 'A']

In [442]:
train = train.replace({"Gender":{'Male':0,'Female':1}})
train = train.replace({"Ever_Married":{'No':0,'Yes':1}})
train = train.replace({"Graduated":{'No':0,'Yes':1}})
train = train.replace({"Profession":{'Healthcare':0,'Engineer':1,'Lawyer':2,'Entertainment':3,'Artist':4,'Executive':5,'Doctor':6,'Homemaker':7,'Marketing':8}})
train = train.replace({"Spending_Score":{'Low':0,'Average':1,'High':2}})
train = train.replace({"Var_1":{'Cat_1':0,'Cat_2':1,'Cat_3':2,'Cat_4':3,'Cat_5':4,'Cat_6':5,'Cat_7':6}})
train = train.replace({"Segmentation":{'A':0,'B':1,'C':2,'D':3}})
train.head()

/var/folders/nq/pf4848v92qq76wvlqb4x38j40000gn/T/ipykernel_52838/1620184519.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train = train.replace({"Gender":{'Male':0,'Female':1}})
/var/folders/nq/pf4848v92qq76wvlqb4x38j40000gn/T/ipykernel_52838/1620184519.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train = train.replace({"Ever_Married":{'No':0,'Yes':1}})
/var/folders/nq/pf4848v92qq76wvlqb4x38j40000gn/T/ipykernel_52838/1620184519.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train = train.replace({"Graduated":{'No':0,'Yes':1}})
/var/folders/nq/pf4848v92qq76wvlqb4x38j40000gn/T/ipykernel_52838/1620184519.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train = train.replace({"Profession":{'Healthcare':0,'Engineer':1,'Lawyer':2,'Entertainment':3,'Artist':4,'Executive':5,'Doctor':6,'Homemaker':7,'Marketing':8}})
/var/folders/nq/pf4848v92qq76wvlqb4x38j40000gn/T/ipykernel_52838/1620184519.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train = train.replace({"Spending_Score":{'Low':0,'Average':1,'High':2}})
/var/folders/nq/pf4848v92qq76wvlqb4x38j40000gn/T/ipykernel_52838/1620184519.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train = train.replace({"Var_1":{'Cat_1':0,'Cat_2':1,'Cat_3':2,'Cat_4':3,'Cat_5':4,'Cat_6':5,'Cat_7':6}})
/var/folders/nq/pf4848v92qq76wvlqb4x38j40000gn/T/ipykernel_52838/1620184519.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train = train.replace({"Segmentation":{'A':0,'B':1,'C':2,'D':3}})

,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,0,0,22,0,0,1.0,0,4.0,3,3
2,1,1,67,1,1,1.0,0,1.0,5,1
3,0,1,67,1,2,0.0,2,2.0,5,1
5,0,1,56,0,4,0.0,1,2.0,5,2
6,0,0,32,1,0,1.0,0,3.0,5,2

In [443]:
test = test.replace({"Gender":{'Male':0,'Female':1}})
test = test.replace({"Ever_Married":{'No':0,'Yes':1}})
test = test.replace({"Graduated":{'No':0,'Yes':1}})
test = test.replace({"Profession":{'Healthcare':0,'Engineer':1,'Lawyer':2,'Entertainment':3,'Artist':4,'Executive':5,'Doctor':6,'Homemaker':7,'Marketing':8}})
test = test.replace({"Spending_Score":{'Low':0,'Average':1,'High':2}})
test = test.replace({"Var_1":{'Cat_1':0,'Cat_2':1,'Cat_3':2,'Cat_4':3,'Cat_5':4,'Cat_6':5,'Cat_7':6}})
test = test.replace({"Segmentation":{'A':0,'B':1,'C':2,'D':3}})
test.head()

/var/folders/nq/pf4848v92qq76wvlqb4x38j40000gn/T/ipykernel_52838/920515875.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  test = test.replace({"Gender":{'Male':0,'Female':1}})
/var/folders/nq/pf4848v92qq76wvlqb4x38j40000gn/T/ipykernel_52838/920515875.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  test = test.replace({"Ever_Married":{'No':0,'Yes':1}})
/var/folders/nq/pf4848v92qq76wvlqb4x38j40000gn/T/ipykernel_52838/920515875.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  test = test.replace({"Graduated":{'No':0,'Yes':1}})
/var/folders/nq/pf4848v92qq76wvlqb4x38j40000gn/T/ipykernel_52838/920515875.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  test = test.replace({"Profession":{'Healthcare':0,'Engineer':1,'Lawyer':2,'Entertainment':3,'Artist':4,'Executive':5,'Doctor':6,'Homemaker':7,'Marketing':8}})
/var/folders/nq/pf4848v92qq76wvlqb4x38j40000gn/T/ipykernel_52838/920515875.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  test = test.replace({"Spending_Score":{'Low':0,'Average':1,'High':2}})
/var/folders/nq/pf4848v92qq76wvlqb4x38j40000gn/T/ipykernel_52838/920515875.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  test = test.replace({"Var_1":{'Cat_1':0,'Cat_2':1,'Cat_3':2,'Cat_4':3,'Cat_5':4,'Cat_6':5,'Cat_7':6}})
/var/folders/nq/pf4848v92qq76wvlqb4x38j40000gn/T/ipykernel_52838/920515875.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  test = test.replace({"Segmentation":{'A':0,'B':1,'C':2,'D':3}})

,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,1,1,36,1,1,0.0,0,1.0,5,1
1,0,1,37,1,0,8.0,1,4.0,5,0
3,0,1,59,0,5,11.0,2,2.0,5,1
5,0,1,47,1,6,0.0,2,5.0,3,2
6,0,1,61,1,6,5.0,0,3.0,5,3

## 　標準化を実行する

In [444]:
scaler = StandardScaler()

train['Age'] = scaler.fit_transform(train[['Age']])
train['Work_Experience'] = scaler.fit_transform(train[['Work_Experience']])
print(train.head())

   Gender  Ever_Married       Age  Graduated  Profession  Work_Experience  \
0       0             0 -1.303415          0           0        -0.478430
2       1             1  1.420092          1           1        -0.478430
3       0             1  1.420092          1           2        -0.772106
5       0             1  0.754346          0           4        -0.772106
6       0             0 -0.698191          1           0        -0.478430

   Spending_Score  Family_Size  Var_1  Segmentation
0               0          4.0      3             3
2               0          1.0      5             1
3               2          2.0      5             1
5               1          2.0      5             2
6               0          3.0      5             2

In [445]:
test['Age'] = scaler.fit_transform(test[['Age']])
test['Work_Experience'] = scaler.fit_transform(test[['Work_Experience']])
print(test.head())

   Gender  Ever_Married       Age  Graduated  Profession  Work_Experience  \
0       1             1 -0.445248          1           1        -0.762986
1       0             1 -0.385575          1           0         1.629258
3       0             1  0.927231          0           5         2.526349
5       0             1  0.211155          1           6        -0.762986
6       0             1  1.046577          1           6         0.732167

   Spending_Score  Family_Size  Var_1  Segmentation
0               0          1.0      5             1
1               1          4.0      5             0
3               2          2.0      5             1
5               2          5.0      3             2
6               0          3.0      5             3

##  テータの中で、特徴量と目的変数を分ける

###  訓練データ

In [446]:
X_train=train.drop('Segmentation',axis=1)
y_train=train['Segmentation']

###  テストデータ

In [447]:
X_test=test.drop('Segmentation',axis=1)
y_test=test['Segmentation']

##  モデルの使用

### ランダムフォレスト

In [448]:
from sklearn.ensemble import RandomForestClassifier

# ランダムフォレストモデルを作成
clf = RandomForestClassifier (n_estimators=300, random_state=46,max_depth=15, min_samples_leaf=10,bootstrap=1)

# モデルの訓練
clf.fit(X_train, y_train)

# 訓練データに対する正答率
print("正答率(訓練) = ", clf.score(X_test, y_test))

正答率(訓練) =  0.33240482822655526

###   ロジスティック回帰

In [449]:
from sklearn.linear_model import LogisticRegression

# ロジスティック回帰モデルの作成
clf_logistic = LogisticRegression(random_state=46)

# モデルの訓練
clf.fit(X_train, y_train)

# 訓練データに対する正答率
print("正答率(訓練) = ", clf.score(X_test, y_test))

正答率(訓練) =  0.33240482822655526

###  勾配ブースティング

In [450]:
from sklearn.ensemble import GradientBoostingClassifier

# 勾配ブースティングモデルの作成
clf_gb = GradientBoostingClassifier(n_estimators=300, random_state=46)

# モデルの訓練
clf.fit(X_train, y_train)

# 訓練データに対する正答率
print("正答率(訓練) = ", clf.score(X_test, y_test))

正答率(訓練) =  0.33240482822655526

###  サポートベクターマシン

In [451]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

# サポートベクターマシンモデルの作成
clf_svm = SVC(random_state=46)

# モデルの訓練
clf_svm.fit(X_train, y_train)

# 訓練データに対する正答率
y_pred = clf_svm.predict(X_test)
print("正答率(SVM) = ", accuracy_score(y_test, y_pred))

正答率(SVM) =  0.33240482822655526

### k近傍法モデル

In [452]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

# k近傍法モデルの作成
clf_knn = KNeighborsClassifier(n_neighbors=5)

# モデルの訓練
clf_knn.fit(X_train, y_train)

# 訓練データに対する正答率
y_pred = clf_knn.predict(X_test)
print("正答率(KNN) = ", accuracy_score(y_test, y_pred))

正答率(KNN) =  0.3022284122562674

##  重要度の高い特徴量を選択する

In [453]:
# RandomForestClassifierのインスタンスを作成して学習
clf = RandomForestClassifier(random_state=42)
clf.fit(X_train, y_train)

# 特徴量の重要度を取得 (RandomForestの場合)
importance = clf.feature_importances_

# 特徴量名を取得
feature_names = X.columns  # Xは特徴量のDataFrameの場合

# 重要度と特徴量名を結びつける
feature_importances = pd.DataFrame({'Feature': feature_names, 'Importance': importance})

# 重要度順に並べ替え
sorted_feature_importances = feature_importances.sort_values(by='Importance', ascending=False)

# 並べ替えた結果を表示
print(sorted_feature_importances)

           Feature  Importance
2              Age    0.362030
5  Work_Experience    0.154378
4       Profession    0.142108
7      Family_Size    0.108740
8            Var_1    0.078697
6   Spending_Score    0.052400
0           Gender    0.037447
3        Graduated    0.035587
1     Ever_Married    0.028613

##  主要な特徴量を選択

In [454]:
# 'Segmentation' 列をターゲット変数（y_train, y_test）として分離
X_train = train.drop('Segmentation', axis=1)
y_train = train['Segmentation']

X_test = test.drop('Segmentation', axis=1)
y_test = test['Segmentation']

# 不要な特徴量を削除
columns_to_drop = ['Ever_Married', 'Graduated', 'Gender', 'Spending_Score','Var_1','Family_Size']
X_train = X_train.drop(columns=columns_to_drop, axis=1)
X_test = X_test.drop(columns=columns_to_drop, axis=1)

# 削除後の確認
print("X_train columns after dropping:", X_train.columns)
print("X_test columns after dropping:", X_test.columns)

X_train columns after dropping: Index(['Age', 'Profession', 'Work_Experience'], dtype='object')
X_test columns after dropping: Index(['Age', 'Profession', 'Work_Experience'], dtype='object')

##  もう一度機械学習にかける

###  ランダムフォレスト

In [455]:
from sklearn.ensemble import RandomForestClassifier

# ランダムフォレストモデルを作成
clf = RandomForestClassifier (n_estimators=300, random_state=46,max_depth=15, min_samples_leaf=10,bootstrap=1)

# モデルの訓練
clf.fit(X_train, y_train)

# 訓練データに対する正答率
print("正答率(訓練) = ", clf.score(X_test, y_test))

正答率(訓練) =  0.34168987929433614

###  サポートベクターマシン

In [456]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

# サポートベクターマシンモデルの作成
clf_svm = SVC(random_state=46)

# モデルの訓練
clf_svm.fit(X_train, y_train)

# 訓練データに対する正答率
y_pred = clf_svm.predict(X_test)
print("正答率(SVM) = ", accuracy_score(y_test, y_pred))

正答率(SVM) =  0.33240482822655526