In [169]:
#csvファイルの読み込み
import pandas as pd
df =pd.read_csv('/Users/yugo_suzuki/mydevelopment/development/dsプログラミング/Train.csv')
df.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6,A

In [170]:
#欠損値の確認
df.isnull().sum()

ID                   0
Gender               0
Ever_Married       140
Age                  0
Graduated           78
Profession         124
Work_Experience    829
Spending_Score       0
Family_Size        335
Var_1               76
Segmentation         0
dtype: int64

In [171]:
#データタイプの確認
df.dtypes
print(df.dtypes)

ID                   int64
Gender              object
Ever_Married        object
Age                  int64
Graduated           object
Profession          object
Work_Experience    float64
Spending_Score      object
Family_Size        float64
Var_1               object
Segmentation        object
dtype: object

In [172]:
print(df["Profession"].unique())

['Healthcare' 'Engineer' 'Lawyer' 'Entertainment' 'Artist' 'Executive'
 'Doctor' 'Homemaker' 'Marketing' nan]

In [173]:
print(df["Spending_Score"].unique())

['Low' 'Average' 'High']

In [174]:
print(df["Var_1"].unique())

['Cat_4' 'Cat_6' 'Cat_7' 'Cat_3' 'Cat_1' 'Cat_2' nan 'Cat_5']

In [175]:
print(df["Segmentation"].unique())

['D' 'A' 'B' 'C']

In [176]:
#Genderで男性を０、女性を１に変換
#Ever_MarriedでYesを１、Noを０に変換
#Graduated(大学卒業に関して)yesは１、Noは０に変換
#Profession(職業)を数値に変換
#Spending_Scoreを数値に変換
#Var_1を数値に変換
#Segmentationを数値に変換
df=df.replace({"Gender":{'Male':0,'Female':1}})
df=df.replace({"Ever_Married":{'Yes':1,'No':0}})
df=df.replace({"Graduated":{'Yes':1,'No':0}})
df=df.replace({"Profession":{'Healthcare':0,'Engineer':1,'Lawyer':2,'Entertainment':3,'Artist':4,'Executive':5,'Doctor':6,'Homemaker':7,'Marketing':8}})
df=df.replace({"Spending_Score":{'Low':0,'Average':1,'High':2}})
df=df.replace({"Var_1":{'Cat_1':0,'Cat_2':1,'Cat_3':2,'Cat_4':3,'Cat_5':4,'Cat_6':5,'Cat_7':6}})
df=df.replace({"Segmentation":{'A':0,'B':1,'C':2,'D':3}})
df.head()

/var/folders/nq/pf4848v92qq76wvlqb4x38j40000gn/T/ipykernel_74243/3778069133.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df=df.replace({"Gender":{'Male':0,'Female':1}})
/var/folders/nq/pf4848v92qq76wvlqb4x38j40000gn/T/ipykernel_74243/3778069133.py:9: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df=df.replace({"Ever_Married":{'Yes':1,'No':0}})
/var/folders/nq/pf4848v92qq76wvlqb4x38j40000gn/T/ipykernel_74243/3778069133.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df=df.replace({"Graduated":{'Yes':1,'No':0}})
/var/folders/nq/pf4848v92qq76wvlqb4x38j40000gn/T/ipykernel_74243/3778069133.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df=df.replace({"Profession":{'Healthcare':0,'Engineer':1,'Lawyer':2,'Entertainment':3,'Artist':4,'Executive':5,'Doctor':6,'Homemaker':7,'Marketing':8}})
/var/folders/nq/pf4848v92qq76wvlqb4x38j40000gn/T/ipykernel_74243/3778069133.py:12: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df=df.replace({"Spending_Score":{'Low':0,'Average':1,'High':2}})
/var/folders/nq/pf4848v92qq76wvlqb4x38j40000gn/T/ipykernel_74243/3778069133.py:13: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df=df.replace({"Var_1":{'Cat_1':0,'Cat_2':1,'Cat_3':2,'Cat_4':3,'Cat_5':4,'Cat_6':5,'Cat_7':6}})
/var/folders/nq/pf4848v92qq76wvlqb4x38j40000gn/T/ipykernel_74243/3778069133.py:14: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df=df.replace({"Segmentation":{'A':0,'B':1,'C':2,'D':3}})

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,0,0.0,22,0.0,0.0,1.0,0,4.0,3.0,3
1,462643,1,1.0,38,1.0,1.0,NaN,1,3.0,3.0,0
2,466315,1,1.0,67,1.0,1.0,1.0,0,1.0,5.0,1
3,461735,0,1.0,67,1.0,2.0,0.0,2,2.0,5.0,1
4,462669,1,1.0,40,1.0,3.0,NaN,2,6.0,5.0,0

In [177]:
df=df.dropna()
#欠損値の再確認
df.isnull().sum()

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
Var_1              0
Segmentation       0
dtype: int64

In [178]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

## Ageを標準化
df['Age'] = scaler.fit_transform(df[['Age']])
df['Work_Experience'] = scaler.fit_transform(df[['Work_Experience']])
df=df.drop('ID',axis=1)

In [179]:
print(df.head())

   Gender  Ever_Married       Age  Graduated  Profession  Work_Experience  \
0       0           0.0 -1.303415        0.0         0.0        -0.478430
2       1           1.0  1.420092        1.0         1.0        -0.478430
3       0           1.0  1.420092        1.0         2.0        -0.772106
5       0           1.0  0.754346        0.0         4.0        -0.772106
6       0           0.0 -0.698191        1.0         0.0        -0.478430

   Spending_Score  Family_Size  Var_1  Segmentation
0               0          4.0    3.0             3
2               0          1.0    5.0             1
3               2          2.0    5.0             1
5               1          2.0    5.0             2
6               0          3.0    5.0             2

In [180]:
from sklearn.model_selection import train_test_split

X=df.drop('Segmentation',axis=1)
y=df['Segmentation']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [181]:
df = df.drop(columns = ['Spending_Score','Graduated', 'Ever_Married'])

In [182]:
print(df.head())

   Gender       Age  Profession  Work_Experience  Family_Size  Var_1  \
0       0 -1.303415         0.0        -0.478430          4.0    3.0
2       1  1.420092         1.0        -0.478430          1.0    5.0
3       0  1.420092         2.0        -0.772106          2.0    5.0
5       0  0.754346         4.0        -0.772106          2.0    5.0
6       0 -0.698191         0.0        -0.478430          3.0    5.0

   Segmentation
0             3
2             1
3             1
5             2
6             2

In [183]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDClassifier

# dfはあなたのDataFrame
# 最後の列がターゲット（目的変数）、それ以外が特徴量
X = df.iloc[:, :-1]  # 特徴量
y = df.iloc[:, -1]   # ターゲット

# 訓練データとテストデータに分割
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

# SGDClassifierのインスタンスを作成して学習
clf = SGDClassifier(random_state=42)
clf.fit(X_train, y_train)
# 特徴量の重みを取得 (SGDClassifierの場合)
importance = np.abs(clf.coef_[0])  # 係数の絶対値

# 特徴量名を取得
feature_names = X.columns  # Xは特徴量のDataFrameの場合

# 重要度と特徴量名を結びつける
feature_importances = pd.DataFrame({'Feature': feature_names, 'Importance': importance  })

# 重要度順に並べ替え
sorted_feature_importances = feature_importances.sort_values(by='Importance', ascending=False)


# 並べ替えた結果を表示
print(sorted_feature_importances)

           Feature  Importance
4      Family_Size    0.256799
1              Age    0.158319
3  Work_Experience    0.078726
2       Profession    0.022330
5            Var_1    0.022330
0           Gender    0.011165

In [184]:
from sklearn.ensemble import RandomForestClassifier

# ランダムフォレストモデルを作成
clf = RandomForestClassifier(n_estimators=100, max_depth=None, random_state=42)

# モデルの訓練
clf.fit(X_train, y_train)

# 訓練データに対する正答率
print("正答率(訓練) = ", clf.score(X_train, y_train))

# テストデータに対する正答率
print("正答率(テスト) = ", clf.score(X_test, y_test))

正答率(訓練) =  0.9207683073229291
正答率(テスト) =  0.4505098980203959

In [185]:
from sklearn.ensemble import RandomForestClassifier

# ランダムフォレストモデルを作成
clf = RandomForestClassifier(n_estimators=100, max_depth=None, random_state=42)

# モデルの訓練
clf.fit(X_train, y_train)

# 訓練データに対する正答率
print("正答率(訓練) = ", clf.score(X_train, y_train))

# テストデータに対する正答率
print("正答率(テスト) = ", clf.score(X_test, y_test))

正答率(訓練) =  0.9207683073229291
正答率(テスト) =  0.4505098980203959

In [186]:
from sklearn.svm import SVC
clf = SVC(kernel='linear', C=1.5)##cの値をうまく調整することによってやる。
clf.fit(X_train,y_train)
print("正答率(訓練) = ",clf.score(X_train,y_train))
print("正解(テスト)", clf.score(X_test,y_test))

正答率(訓練) =  0.43137254901960786
正解(テスト) 0.4283143371325735

In [187]:
from sklearn import linear_model
clf=linear_model.SGDClassifier(loss='hinge',penalty='l2',alpha=0.0001)
clf.fit(X_train,y_train)
print("正答率(訓練) = ",clf.score(X_train,y_train))
print("正解(テスト)", clf.score(X_test,y_test))

正答率(訓練) =  0.3457382953181273
正解(テスト) 0.33473305338932213

In [188]:
from sklearn.neighbors import KNeighborsClassifier ## KNeighborsClassifierの機械学習を行う
clf=KNeighborsClassifier(n_neighbors=200)
clf.fit(X_train,y_train)
print("正答率(訓練) = ",clf.score(X_train,y_train))
print("正解(テスト)", clf.score(X_test,y_test))

正答率(訓練) =  0.484593837535014
正解(テスト) 0.4595080983803239