In [3]:
import pandas
orders = pandas.read_csv('/Users/yugo_suzuki/mydevelopment/development/ds-4-task/orders - orders.csv')
items = pandas.read_csv('/Users/yugo_suzuki/mydevelopment/development/ds-4-task/items - items.csv')

toal_price=orders["order_num"]*items["item_price"]

print(toal_price)

   order_id  user_id  item_id  order_num
0      1001        2      563          3
1      1002        4      358          4
2      1003        3      112          3
3      1004        5      123          3
4      1005       12      215          3
   item_id item_name  item_price big_category small_category  pages
0      101  Item_101        1611        novel             sf    580
1      102  Item_102         164        comic      adventure    981
2      103  Item_103         305        novel             sf    736
3      104  Item_104         114        novel        romance    206
4      105  Item_105         777        comic     historical    348

In [6]:
import pandas as pd

# CSVファイルを読み込む
orders = pd.read_csv('/Users/yugo_suzuki/mydevelopment/development/ds-4-task/orders - orders.csv')
items = pd.read_csv('/Users/yugo_suzuki/mydevelopment/development/ds-4-task/items - items.csv')

# 'order_id' と 'order_num' に基づいて購入金額を計算する
# ordersとitemsをitem_idでマージして購入金額を算出
merged_data = pd.merge(orders, items, on="item_id", how="left")

# 購入金額を計算
merged_data['total_price'] = merged_data['order_num'] * merged_data['item_price']

# 'order_id' と計算した購入金額を出力
print("注文IDと購入金額:")
print(merged_data[['order_id', 'total_price']])

# 最も高い購入金額を出力
max_purchase = merged_data.loc[merged_data['total_price'].idxmax()]

# 最も高い購入金額と対応するorder_idを表示
print("\n最も高い購入金額:")
print([max_purchase['order_id'], max_purchase['total_price']])

注文IDと購入金額:
    order_id  total_price
0       1001          912
1       1002         7792
2       1003         2379
3       1004         4548
4       1005         4236
..       ...          ...
95      1096         1938
96      1097         4480
97      1098         1208
98      1099         5436
99      1100         5248

[100 rows x 2 columns]

最も高い購入金額:
[1050, 7860]

In [7]:
print(merged_data)

    order_id  user_id  item_id  order_num item_name  item_price big_category  \
0       1001        2      563          3  Item_563         304        novel
1       1002        4      358          4  Item_358        1948        comic
2       1003        3      112          3  Item_112         793        novel
3       1004        5      123          3  Item_123        1516        novel
4       1005       12      215          3  Item_215        1412        comic
..       ...      ...      ...        ...       ...         ...          ...
95      1096       10      581          1  Item_581        1938        comic
96      1097       19      554          4  Item_554        1120        novel
97      1098        9      129          4  Item_129         302        comic
98      1099        8      292          4  Item_292        1359        comic
99      1100       10      158          4  Item_158        1312        comic

   small_category  pages  total_price
0         mystery    877          912
1         romance    846         7792
2         romance     57         2379
3           drama    855         4548
4              sf    224         4236
..            ...    ...          ...
95        romance    945         1938
96        fantasy    303         4480
97             sf     50         1208
98        fantasy    196         5436
99        mystery    235         5248

[100 rows x 10 columns]